<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWs65a8xw3TcaPNZCX9wRi7h8tKkDi15A</string>
	<key>GCM_SENDER_ID</key>
	<string>889381416201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo</string>
	<key>PROJECT_ID</key>
	<string>mujdating</string>
	<key>STORAGE_BUCKET</key>
	<string>mujdating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889381416201:ios:cafbeeeeff282e8d1cb7d8</string>
	<key>DATABASE_URL</key>
	<string>https://mujdating-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>